# Виртуальное окружение
venv/
.venv/
env/

# Секреты и локальные конфиги
.env
*.local

# Кэши Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Инструменты IDE
.idea/
.vscode/

# Системные файлы
.DS_Store